@import '../../../styles/variables.scss';

.benefits {
	padding: 8rem 0 14rem;

	.benefitsMobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.benefits {
		padding: 1rem 0 1rem;

		.benefitsMobile {
			flex-direction: column;
		}
	}
}
