@import '../../styles/variables.scss';

.reviews {
	padding: 1rem 0;
	margin-bottom: 15rem;
	scroll-margin-top: 15rem;

	.heading {
		margin-bottom: 6rem;
		text-align: center;

		span {
			color: $gradient2;
			text-transform: uppercase;
		}
	}

	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.reviews {
		margin-bottom: 8rem;

		.content {
			flex-direction: column;
		}
	}
}
